services:
  dennis-cv:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dennis-cv
    restart: always
    network_mode: host
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
